# Untracked directories
.idea/
.idea/*
deploy/
deploy/*
temp/

example/*.aux.xml
timeseriesviewer/ui/tmp.ui
.*
!/.gitignore
!/.gitattributes

# Untrack compiled files
*.aux.xml
*.pyc
*.pyd
*.iml
__pycache__/

