# Untracked directories
.idea/
.idea/*
.idea/*.*
deploy/
deploy/*
temp/
doc/build/
doc/build/*
test-reports/
test-reports/
test-outputs/
qgisresources/
qgisresources/*
screenshots/
screenshots/*
*/enmap.tif
example/*.aux.xml
example/*.gpkg-shm
example/*.gpkg-wal
eotimeseriesviewer/ui/tmp.ui

*_rc.py
.coverage

!/.gitignore
!/.gitattributes

# Untrack compiled files
*.aux.xml
*.pyc
*.pyd
*.iml
*__pycache__/
symbology-style.db
user-history.db
/qgisresources/
