The EO Time Series Viewer is a QGIS Plugin to visualize and label Earth Observation (EO) time series data.

<h3 xmlns="http://www.w3.org/1999/html">Highlights</h3>
<ul>
    <li>Spatially synchronized maps for each observation date</li>
    <li>Multiple band combinations in parallel, e.g. True Color <i>and</i> SWIR bands</li>
    <li>Multi-sensor support: separate render settings for separate image products</li>
    <li>Visualization of Spectral and Temporal Profiles</li>
    <li>Quick labeling of vector files</li>
</ul>

<h3>Resources</h3>
<ul>
    <li>Documentation <a href="https://eo-time-series-viewer.readthedocs.io/en/latest/">https://eo-time-series-viewer.readthedocs.io/en/latest/</a></li>
    <li>Repository <a href="https://bitbucket.org/jakimowb/eo-time-series-viewer">https://bitbucket.org/jakimowb/eo-time-series-viewer</a></li>
    <li><cite>Jakimow, B., van der Linden, S., Thiel, F., Frantz, D., & Hostert, P. (2020).
            Visualizing and labeling dense multi-sensor earth observation time series: The EO Time Series Viewer.</br>
            <a href="https://doi.org/10.1016/j.envsoft.2020.104631">Environmental Modelling & Software, 125. 10.1016/j.envsoft.2020.104631</a></cite>
</li>
</ul>
<h3>How to cite</h3>
The plugin:
<cite>
Jakimow, B. (2021). EO Time Series Viewer, version X.XX, https://plugins.qgis.org/plugins/timeseriesviewerplugin
</cite>

<h3>Acknowledgements</h3>

<p align="center">
    The EO Time Series Viewer is developed at Humboldt-Universit&auml;t zu Berlin, <a href="https://hu-berlin.de/eo-lab">Earth Observation Lab</a>.
</p>

<p align="center">
Earlier versions of the EO Time Series Viewer were partly developed in the SenseCarbon project,
funded by the German Aerospace Centre (DLR) and granted by the Federal Ministry of Education and Research
(BMBF, grant no. 50EE1254). Since 2017 development of the software is supported by the German Research Centre for Geosciences (GFZ) as
part of the EnMAP Core Science Team activities, funded by DLR and granted by the Federal Ministry of Economic Affairs and Energy (BMWi, grant no. 50EE1529),
and the Land Use Monitoring System (LUMOS) project, funded by the Belgian Science Policy Office as part of
the Stereo-III research program (grant no. SR/01/349).
</p>
