# this file lists packages that are required to run the EO Time Series Viewer
# see https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format


# standard requirements
-r requirements.txt


# requirements for developers

gitpython
git-lfs

recommonmark
docutils
sphinx
sphinx-argparse
sphinx-markdown
sphinx-rtd-theme
sphinx-autobuild
xmlrunner
coverage
