# this file lists packages that are required to run the EO Time Series Viewer
# see https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format

# requirements for developers

gitpython
sphinx_rtd_theme
recommonmark
docutils
markdown
sphinx
sphinx-argparse
sphinx-markdown
sphinx-rtd-theme
sphinx-autobuild
coverage
coverage-badge
pytest>= 8.0.0
pytest-env
pytest-cov
pytest-xdist # parallel testing
flake8
flake8-qgis