services:

  qgis:
    platform: ${DOCKER_PLATFORM:-linux/amd64}
    build:
      context: ..
      dockerfile: ./.docker/Dockerfile
      args:
        QGIS_VERSION: ${QGIS_VERSION:-latest}
    tty: true
    volumes:
      # - ${GITHUB_WORKSPACE}:/usr/src
      - ${PWD}/:/usr/src
